@import '../../styles/_media.scss';

.article {
  display: flex;
  flex-direction: column;
  background-color: var(--card-background-color);
  border-radius: 2rem;
  box-shadow: 0 4px 6px -1px rgba(0,0,0,.1), 0 2px 4px -2px rgba(0,0,0,.1);
  overflow: hidden;
}

.image {
  width: 100%;
  //635x305px
}

.imageWrapper {
  width: 100%;
  font-size: 0;
  line-height: 0;
}

.articleLink {
  display: block;
  text-decoration: none;
  font-family: 'Raleway', 'Roboto', 'Arial', sans-serif;
  font-size: 18px;
  line-height: 1.4;
  font-weight: 800;
  margin-bottom: 12px;

  &:hover {
    text-decoration: underline;
  }

  @include media-XS {
    margin-bottom: 10px;
  }
}

.title {
  font-weight: 800;

  @include media-XS {
   font-size: 18px;
  }
}

.content {
  height: 100%;
  margin-bottom: 30px;

  @include media-XS {
    margin-bottom: 25px;
  }
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 30px 30px;

  @include media-XS {
    padding: 25px 25px;
  }
}

.description {
  font-size: 16px;
  line-height: 1.66;
  color: var(--font-color-second);
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;

  @include media-XS {
    font-size: 15px;
    -webkit-line-clamp: 2;
  }
}

.info {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  font-size: 14px;
  color: var(--font-color-second);
  margin-bottom: 17px;

  @include media-XS {
    margin-bottom: 11px;
  }
}

.button {

}
.icon {
  width: 20px;
  height: 20px;
  fill: var(--font-color-second);
}
.publicationDate,
.readingTime {
  display: flex;
  gap: 7px;
}
