@import '../../styles/_media.scss';

.article {
  background-color: var(--white-darker-color);
  border-radius: 2rem;
  box-shadow: 0 4px 6px -1px rgba(0,0,0,.1), 0 2px 4px -2px rgba(0,0,0,.1);
  overflow: hidden;
}

.image {
  width: 100%;
  //635x305px
}

.imageWrapper {
  width: 100%;
  font-size: 0;
  line-height: 0;
}

.articleLink {
  display: block;
  text-decoration: none;
  font-family: 'Raleway', 'Roboto', 'Arial', sans-serif;
  font-size: 24px;
  line-height: 1.6;
  font-weight: 900;
  margin-bottom: 17px;

  &:hover {
    text-decoration: underline;
  }
}

.title {
  font-weight: 800;
}

.contentWrapper {
  padding: 20px 30px;
}

.description {
  margin-bottom: 25px;
  font-size: 18px;
  line-height: 1.66;
  color: var(--font-color-second);
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.info {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  font-size: 14px;
  color: var(--tech-color);
  margin-bottom: 25px;
}

.button {

}
