@import '../../styles/_media.scss';

.article {
  display: flex;
  flex-direction: column;
  background-color: var(--card-background-color);
  border-radius: 1rem;
  box-shadow: var(--card-shadow);
  overflow: hidden;
}

.image {
  width: 100%;
  //635x305px
}

.imageWrapper {
  width: 100%;
  font-size: 0;
  line-height: 0;
}

.articleLink {
  display: block;
  text-decoration: none;
  font-family: 'Raleway', 'Roboto', 'Arial', sans-serif;
  margin-bottom: .3em;

  &:hover {
    text-decoration: underline;
  }

  @include media-XS {
    font-size: 1.1rem;
  }
}

.title {
  font-size: 21px;
  line-height: 1.4;
  font-weight: 800;

  @include media-M {
    font-size: 18px;
  }

  @include media-XS {
    font-size: 16px;
  }
}
.content {
  height: 100%;
  margin-bottom: 30px;

  @include media-XS {
    margin-bottom: 25px;
  }
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 30px 30px;

  @include media-XS {
    padding: 25px 25px;
  }
}

.description {
  font-size: 16px;
  line-height: 1.66;
  color: var(--font-color-second);
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;

  @include media-XS {
    font-size: 15px;
    -webkit-line-clamp: 2;
  }
}

.info {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  font-size: 14px;
  color: var(--font-color-second);
  margin-bottom: 17px;

  @include media-XS {
    margin-bottom: 11px;
  }
}

.button {

}
.icon {
  width: 20px;
  height: 20px;
  fill: var(--font-color-second);
}
.publicationDate,
.readingTime,
.readingWords {
  display: flex;
  gap: 7px;
}
.readingWords {
  @include media-custom(424.98px) {
    display: none;
  }
}
.readingLink {
  display: inline-flex;
  width: fit-content;
  padding: 0.25rem 0.6rem;
  margin-left: -0.6em;
  gap: .8em;
  align-items: center;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;

  &:hover {
    color: var(--accent-color);
    background-color: var(--accent-color-light);
    border-radius: 0.5em;

  }

  &:hover .readingLinkArrow {
    fill: var(--accent-color) !important;
    color: var(--accent-color) !important;
  }
}
