@import '../../../styles/media';

.post {
  box-sizing: content-box;
  max-width: 680px;
  margin: 0 auto;
  margin-left: 30%;
  margin-bottom: 2rem;
  padding: 0 20px;
  padding-top: 1rem;
  font-size: 1rem;

  @include media-M {
    max-width: 612px;
  }
  @include media-S {
    max-width: 510px;
    padding: 0 15px;
  }


  h2, h3, h4, h5, h6 {
    margin-top: 1.6em;
    margin-bottom: 0.8em;

    a {
      text-decoration: none;
    }
  }

  h1 {
    font-size: 2.6rem; //52px
    line-height: 1.2;
    margin: 0;
    margin-bottom: 1.7rem;

    @include media-S {
      font-size: 2.2rem;
    }
    @include media-XS {
      font-size: 1.8rem;
    }
  }

  h2 {
    font-size: 2.05rem;
    line-height: 3.25rem;
  }

  h3 {
    font-size: 1.6rem;
    line-height: 2.55rem;
  }

  h4 {
    font-size: 1.25rem;
    line-height: 2.05rem;
  }

  h5 {
    font-size: 1rem;
    line-height: 1.7rem;
  }

  h6 {
    font-size: 0.8rem;
    line-height: 1.4rem;
  }

  p, ul, ol, blockquote, img, pre {
    margin-bottom: 1.25em;
  }
}
.postLayout {
  position: relative;
  padding: 0;
}
.topBlock {
  border-radius: 22px;
  border: 1px solid var(--border-color-strong);
  padding: 45px 35px;
  background-color: var(--card-background-color);
  margin-bottom: 2rem;

  @include media-S {
    padding: 20px 25px;
  }
}

.title {
  font-family: 'Raleway', 'Roboto', 'Arial', sans-serif;
}

.date {
  @include media-S {
    margin-right: 5px;
  }
}

.time {
  font-size: .9rem;
  margin-right: 1.1rem;

  @include media-S {
    margin-right: 1rem;
  }
}

.words {
  span {
    font-size: .9rem;
  }
}

.info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 5px;
  font-size: .9rem;
}

.icon {
  display: inline-block;
  width: 23px;
  height: 23px;
  margin-right: 9px;
  margin-bottom: 1px;
  line-height: 22px;
  vertical-align: middle;

  @include media-S {
    width: 20px;
    height: 20px;
    margin-right: 6px;
  }
}
.iconCalendar {
  margin-bottom: .2rem;
}
.tableOfContents {
  position: fixed;
  left: 0;
  overflow: auto;

  height: 100%;
  max-height: calc(100vh - var(--header-offset));
  max-width: 30%;
  padding-top: 1rem;
  padding-right: 1rem;
  padding-bottom: 1.5rem;

}
.tableOfContentsBtn {
  display: none;

  @include media-S {
    display: block;
  }
}
.inputSearchTitle {
  width: 100%;
  font-size: 15px;
  padding: 17px 25px;
  border-radius: 9px;
  border: 1px solid var(--border-color-strong);
  margin-bottom: 1.5rem;
  background-color: var(--card-background-color-opacity);

  &::placeholder {
    color: var(--tech-color);
  }
}
.tocTitle {
  margin-bottom: .5rem;
}
.tocLinkWrapper {
  position: relative;
  display: flex;
  flex-direction: column;

  &::after {
    z-index: -1;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 1px;
    background-color: var(--border-color-strong);
  }

  a {
    padding: .25em;
    padding-left: .7em;
    text-decoration: none;
    border-left: 1px solid var(--border-color-strong);

    &:hover {
      background-color: var(--card-background-color-opacity);
      border-left: 1px solid var(--accent-color);
    }
  }
}
