@import "../../styles/_media.scss";

.services {

  .wrapper {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(383px, 1fr));

    @include media-XS {
      grid-template-columns: 1fr;
    }
  }
}
.servicesList {
  padding: 0;
  list-style: none;

  li {
    position: relative;
    font-size: 16px;
    line-height: 1.7;
    margin-bottom: .5em;
    padding-left: 1.3em;

    &::before {
      display: block;
      content: "";
      width: .5em;
      height: .5em;
      position: absolute;
      left: 0;
      transform: translateY(-50%);
      top: 50%;
      border-radius: 50%;
      background-color: var( --accent-color);

      @include media-XS {
        width: .4em;
        height: .4em;
      }
    }
    @include media-XS {
      padding-left: 1.1em;
    }
  }
}
.serviceGroupTitle {
  font-size: 1.2rem;
  font-family: 'Raleway', 'Roboto', 'Arial', sans-serif;
}
