@import "../../styles/_media.scss";

.topBlock {
  margin-bottom: 3rem;

  @include media-M {
    margin-bottom: 10px;
  }

  @include media-S {
    margin-bottom: 5px;
  }
}

.title {
  margin: 0;
  font-size: 3rem;
  line-height: 1.5;

  @include media-M {
    font-size: 2rem;
  }
}
