// Desktop first
$mediaWidthMobile: 540px;
$mediaWidthTablet: 767px;
$mediaWidthTabletHorizontal: 1023px;
$mediaWidthLaptop: 1279px;
$mediaWidthLaptopXL: 1439px;

$bg-color: #282C34;

// fonts
$font-title: 'Montserrat', sans-serif;
$font: 'Roboto', 'Open Sans', 'Arial', sans-serif;
$font-color: #E2E2E2;
$accent-color: #6767AB;
