@use 'media' as media;
@import '../styles/utils/normalize.css';

:root {

  //Курсор
  --cursor-color: var(--accent-color);
  --cursor-follower-color: var(--accent-color);

  //Текст
  --font-color: #101921;
  --font-color-dark: #101921;
  --font-color-second: #616161;
  --tech-color: #828282;
  --border-color: #e9e9e9;
  --border-color-strong: var(--font-color);
  --white-darker-color: #F9FAFB;
  --font-size: 20px;
  --font-size-M: 18px;
  --font-size-S: 15px;
  --font-size-XS: 14px;
  --line-height: 1.5;
  --text-container-width: 680px;
  --paragraph-margin-bottom: 2.15rem; //43px

  --card-background-color: rgb(255, 255, 255);
  --card-background-color-opacity: rgb(255 255 255 / 65%);

  --accent-color: #6767AB;
  --accent-color-light: #6767ab29;

  --background-start-rgb: rgb(246, 248, 252);
  --background-end-rgb: rgb(255, 255, 255);
  --background-color: rgb(246, 248, 252);

  --background-card-start-rgb: rgb(250, 252, 255);
  --background-card-end-rgb: rgb(250, 252, 255);

  --background-start-rgb-dark: 33, 37, 43;
  --background-end-rgb-dark: 255, 255, 255;

  --icons-color: var(--font-color);
  --divider-color: var(--border-color);

  --card-border-radius: 20px;
  @include media.media-M {
    --card-border-radius: 15px;
  }
  @include media.media-S {
    --card-border-radius: 10px;
  }
  --code-block-border-radius: 10px;
  --card-shadow: 0 4px 6px -1px rgba(0,0,0,.1), 0 2px 4px -2px rgba(0,0,0,.1);

  --header-offset: 87px;
  @include media.media-S {
    --header-offset: 78px;
  }

  [data-theme="dark"] {
    color: var(--font-color);
    --font-color: #ededef;
    --font-color-second: #c0c0c0;

    --background-start-rgb: rgb(33, 37, 43);
    --background-end-rgb: rgb(42, 47, 54);
    --background-color: rgb(33, 37, 43);

    --card-background-color: rgb(51, 56, 65);
    --border-color-strong: var(--border-color);
    --border-color: #464646;
    --card-background-color-opacity: rgb(51 56 65 / 65%);

    --background-card-start-rgb: var(--card-background-color);
    --background-card-end-rgb: var(--background-end-rgb);
    --icons-color: var(--font-color);
  }
}

* {
  cursor: none;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-margin-top: 95px;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  background-color: var(--accent-color);
  outline: 1px solid slategrey;
}

//html::-webkit-scrollbar {
//  display: none;
//}
html,
body {
  max-width: 100vw;
  font-size: var(--font-size);
  line-height: var(--line-height);
  color: var(--font-color);

  @include media.media-M {
    font-size: var(--font-size-M);
  }

  @include media.media-S {
    font-size: var(--font-size-S);
  }
  @include media.media-XS {
    font-size: var(--font-size-XS);
  }
}

body {
  //background: linear-gradient(
  //    to bottom,
  //    transparent,
  //    var(--background-end-rgb)
  //) var(--background-start-rgb);
  background-color: var(--background-color);
  overflow-x: hidden;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: #222;
  opacity: .5;
}

.bg {
  z-index: -1;
  position: fixed;
  top: -50%;
  left: -50%;
  right: -50%;
  bottom: -50%;
  width: 200%;
  height: 200vh;
  background: transparent url('../images/noise-transparent.png') repeat 0 0;
  background-repeat: repeat;
  animation: bg-animation .2s infinite;
  opacity: .8;
  visibility: visible;
}

@keyframes bg-animation {
  0% {
    transform: translate(0, 0)
  }
  10% {
    transform: translate(-5%, -5%)
  }
  20% {
    transform: translate(-10%, 5%)
  }
  30% {
    transform: translate(5%, -10%)
  }
  40% {
    transform: translate(-5%, 15%)
  }
  50% {
    transform: translate(-10%, 5%)
  }
  60% {
    transform: translate(15%, 0)
  }
  70% {
    transform: translate(0, 10%)
  }
  80% {
    transform: translate(-15%, 0)
  }
  90% {
    transform: translate(10%, 5%)
  }
  100% {
    transform: translate(5%, 0)
  }
}

img {
  max-width: 100%;
  height: auto;
}

.article {
  p {
    width: var(--text-container-width);
  }

  .caption {
    font-size: 0.8rem;
    line-height: 1.4rem;
    color: var(--tech-color);
  }

  h1 {
    font-size: 2.6rem; //52px
    line-height: 4.05rem;
    margin: 0;
    margin-bottom: 1.7rem;
  }

  h2 {
    font-size: 2.05rem;
    line-height: 3.25rem;
    margin: 0;
    margin-bottom: 1.05rem;
  }

  h3 {
    font-size: 1.6rem;
    line-height: 2.55rem;
    margin: 0;
    margin-bottom: 0.65rem;
  }

  h4 {
    font-size: 1.25rem;
    line-height: 2.05rem;
    margin: 0;
    margin-bottom: 0.4rem;
  }

  h5 {
    font-size: 1rem;
    line-height: 1.7rem;
    margin: 0;
    margin-bottom: 0.25rem;
  }

  h6 {
    font-size: 0.8rem;
    line-height: 1.4rem;
    margin: 0;
  }

  p, ul {
    margin-bottom: var(--paragraph-margin-bottom);
  }

  ul > li {
    margin-bottom: 0.65rem;
  }
}

.page-title {
  margin: 0;
  margin-bottom: 2.5rem;
  font-size: 3rem;
  line-height: 1.5;

  @include media.media-M {
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  @include media.media-S {
    margin-bottom: 1.5rem;
  }
}

a {
  color: inherit;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.container {
  width: 1320px;
  padding: 0 10px;
  margin: 0 auto;

  @include media.media-XL {
    width: 1140px;
  }

  @include media.media-L {
    width: 960px;
  }

  @include media.media-M {
    width: 720px;
  }

  @include media.media-S {
    width: 540px;
  }

  @include media.media-XS {
    width: 100%;
  }
}

.container-fluid {
  width: 100%;
  max-width: 1920px;
  padding: 0 65px;
  margin: 0 auto;

  @include media.media-S {
    padding: 0 15px;
  }
}

//Стили курсора
//.cursor-dot,
//.cursor-dot-outline {
//  pointer-events: none;
//  position: absolute;
//  top: 50%;
//  left: 50%;
//  transform: translate(-50%, -50%);
//  border-radius: 50%;
//  opacity: 1;
//  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
//}
//
//.cursor-dot {
//  width: 8px;
//  height: 8px;
//  background-color: #6C6DB2;
//}
//
//.cursor-dot-outline {
//  width: 40px;
//  height: 40px;
//  background-color: var(--cursor-follower-color);
//}

.block-mb {
  margin-bottom: 105px;

  @include media.media-M {
    margin-bottom: 80px;
  }

  @include media.media-S {
    margin-bottom: 60px;
  }
}

.block-title {
  font-family: 'Raleway', 'Roboto', 'Arial', sans-serif;
  font-size: 1.2rem;
  line-height: 1.4;
  margin: 0 0 40px;
  text-transform: uppercase;
  font-weight: 900;

  @include media.media-S {
    margin-bottom: 20px;
  }
}

.top-block-padding {
  padding-top: 140px;

  @include media.media-M {
    padding-top: 120px;
  }

  @include media.media-S {
    padding-top: 100px;
  }
}

.active-menu-link {
  color: var(--font-color) !important;
  -webkit-text-fill-color: var(--font-color) !important;
}

.btn {
  display: inline-block;
  margin: 0;
  font-size: 15px;
  line-height: 15px;
  text-align: center;
  text-decoration: none;
  padding: 1em 2em;
  border: none;
  border-radius: .7em;
  background-color: var(--accent-color);
  color: var(--white-darker-color);

  @include media.media-S {
    padding: .8em;
  }

  &--second {
    background-color: transparent;
    border: 1px solid var(--font-color-second);
    color: var(--font-color-second);

    &:hover {
      background-color: var(--accent-color);
      color: var(--white-darker-color);
      border: 1px solid transparent;
    }
  }
}

.active {
  display: block !important;
}

.lock-scroll {
  overflow: hidden !important;
}

/* Nprogress bar Custom Styling (force) >>start<< */
#nprogress .bar {
  background: var(--accent-color) !important;
  height: 4px !important;
}

/* Fancy blur effect */
#nprogress .peg {
  box-shadow: 0 0 10px var(--accent-color), 0 0 5px var(--accent-color) !important;
}

#nprogress .spinner-icon {
  border-top-color: var(--accent-color) !important;
  border-left-color: var(--accent-color) !important;
}

/* Nprogress bar Custom Styling (force) >>end<< */

/* For preventing the blue highlight color box on tap(click) */
* {
  -webkit-tap-highlight-color: transparent;
}

.truncate-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.truncate-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.auto-row {
  -webkit-margin-before: auto;
  margin-block-start: auto;
}

/* Code Line Highlighting START */
pre {
  overflow: auto;
}

code {
  counter-reset: line;
}

code span.line {
  padding: 2px 1em;
  border-left: 4px solid transparent;
}

code > .line::before {
  counter-increment: line;
  content: counter(line);

  /* Other styling */
  display: inline-block;
  width: 1em;
  margin-right: 1em;
  text-align: right;
  color: gray;
  font-weight: 500;
  border-right: 4px solid transparent;
}

.highlighted {
  background: rgba(200, 200, 255, 0.1);
  border-left: 4px solid #3777de !important;
  filter: saturate(1.5);
}

/* Code Line Highlighting ENDS */
div[data-rehype-pretty-code-fragment] {
  font-size: 15px;

  & > pre {
    background-color: var(--card-background-color);
    padding-top: 10px;
    border: 1px solid var(--border-color-strong);
    border-bottom-right-radius: var(--code-block-border-radius);
    border-bottom-left-radius: var(--code-block-border-radius);
  }
}

.svg-bg {
  z-index: -2;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: .3;
}

.section-padding {
  padding-top: 2rem;
  padding-bottom: 4rem;
}
.main-content-pt {
  padding-top: 1rem;
}
.keen-slider:not([data-keen-slider-disabled]) {
  align-items: flex-start;
}
