@import "../../styles/_media.scss";

.wrapper {
  position: relative;
  max-width: 880px;
  height: auto;
}

.video {
  width: 100%;
  height: auto;
  max-height: 100%;
  border-radius: 34px;
  border: 1px solid var(--font-color);

  @include media-S {
    border-radius: 25px;
  }
  @include media-XS {
    border-radius: 15px;
  }
}

.resumeBtn {
  z-index: 2;
  position: absolute;
  left: 50%;
  bottom: -18px;
  transform: translateX(-50%);

  padding: 15px 20px 15px 50px;

  background-color: #F9FAFB;
  border: 1px solid var(--light-border-color);
  border-radius: 6px;

  font-size: 14px;

  @include media-S {
    padding: 9px 13px 8px 44px;
    font-size: 12px;
    bottom: -10px;
  }

  &::before {
    content: "";
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    background-image: url("../../images/icons/download-icon.svg");

    @include media-S {
      left: 10px;
    }
  }

}
