@import '../../styles/_media.scss';

.project {
  display: flex;
  min-height: 250px;
  padding: 20px;
  background-color: var(--card-background-color);
  border-radius: 20px;
  gap: 2em;
}

.imageWrapper {
  display: block;
  position: relative;
  width: 38.2%;
  flex-shrink: 0;

  img {
    object-fit: cover;
    border-radius: 15px;
  }
}

.info {
  padding: 20px 0;
  width: 100% - 38.2%;
}

.title {
  font-size: 1.3rem;
  line-height: 1.4;
  margin-bottom: .5rem;
}

.techInfo {
  display: flex;
  gap: 1em;
  font-size: 16px;
  color: var(--tech-color);
  margin-bottom: 0.5em;

  .icon {
    margin-right: .5em;
    margin-bottom: 2px;
    fill: var(--tech-color);
    width: 1.1em;
    height: auto;
  }
}

.publicationDate {
  display: flex;
  align-items: center;
}

.tools {
  display: flex;
  flex-wrap: wrap;
  color: var(--font-color);
  margin-bottom: 1em;

  p {
    font-size: 14px;
    margin-right: 0.7em;
    margin-bottom: 0.7em;
    padding: 0.2em 0.9em;
    background-color: var(--accent-color-light);
    border-radius: 0.3em;

    @include media-L {
      font-size: .7rem;
    }
    @include media-S {
      font-size: .8rem;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}

.description {
  margin-bottom: 1em;
  font-size: 18px;
}

.links {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  flex-shrink: 0;

  .icon {
    width: 30px;
    height: auto;
  }
}
