@import "../../styles/_media.scss";

.header {
  z-index: 800;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 30px;
  padding-top: 18px;
  padding-bottom: 18px;

  @include media-S {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.logo {
  font-size: 0;
  line-height: 0;
}

.toggleThemeButton {
  flex-shrink: 0;
  margin-left: auto;
  border: none;
  margin-right: 50px;
  background: none;

  @include media-M {
    margin-right: 30px;
  }

  @include media-S {
    margin-right: 25px;
  }
}
.sunIcon {
  display: inline-block;
  width: 1.6em;
  height: 1.6em;
}

[data-theme="dark"] {
  .sunIcon {
    filter: invert(100%);
  }
}

.nav {
  scrollbar-color: #6969dd #e0e0e0;
  scrollbar-width: thin;
  z-index: 700;
  position: absolute;
  top: 10px;
  right: 56px;

  min-width: 30vw;
  height: auto;
  max-height: 95vh;
  overflow: auto;
  padding: 50px;
  border-radius: 30px;
  border: 1px solid var(--border-color);
  background: linear-gradient(to top, transparent, var(--background-card-start-rgb)) var(--background-card-end-rgb);

  @include media-S {
    width: 90vw;
    top: 50px;
    right: auto;
    left: 50%;
    transform: translateX(-50%);
    padding: 40px;
  }
  @include media-XS {
    padding: 35px 30px 35px 30px;
  }
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;

  @include media-S {
    text-align: right;
  }
}

.link {
  display: inline-block;
  margin: 0;
  font-size: 65px;
  line-height: 1.5;
  font-weight: 900;
  color: transparent;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--font-color);
  -webkit-text-fill-color: transparent;

  @include media-M {
    font-size: 55px;
  }

  @include media-S {
    font-size: 42px;
  }

  @include media-XS {
    font-size: 35px;
  }

  &::selection {
    background: var(--font-color);
    color: #fff;
  }

  span {
    width: 100%;
    display: block;
    position: relative;

    &::before {
      display: block;
      width: 0;
      color: var(--font-color);
      overflow: hidden;
      position: absolute;
      content: attr(data-text);
      transition: all 1s cubic-bezier(0.84, 0, 0.08, 0.99);
      -webkit-text-stroke-width: 0;
      -webkit-text-stroke-color: var(--font-color);
      -webkit-text-fill-color: var(--font-color);
    }

    &:hover::before {
      display: block;
      width: 100%;
    }
  }
}

.menuBtn {
  z-index: 800;
  position: relative;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid var(--font-color);
  background-color: transparent;

  @include media-S {
    z-index: 800;
    width: 47px;
    height: 47px;
  }
}

.menuBtnText {
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 1px;
  color: var(--font-color);
}

.menuActive {
  background-color: var(--font-color);
  color: var(--card-background-color);
  .menuBtnText {
    color: var(--card-background-color);
  }

}

.isSticky {
  position: fixed;
  top: 0;
}
