@import "../../styles/_media.scss";

.skill {
  display: flex;
  align-items: center;
  gap: 15px;
  //width: 247px;
  background-color: var(--card-background-color);
  //border: 1px solid var(--border-color);
  box-shadow: var(--card-shadow);
  border-radius: 0.5vw;
  padding: 15px;

  @include media-S {
    gap: 10px;
    padding: 10px;
    border-radius: 6px;
  }
}

.image {
  width: 30px;
  height: auto;

  @include media-S {
    max-width: 25px;
  }
}

.name {
  font-size: 16px;

  @include media-S {
    font-size: 14px;
  }
}
