@import '../../styles/_media.scss';

.blog {

}
.articleWrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(413px, 1fr));
  gap: 1.5rem;
  margin: 0 auto;

  @include media-M {
    grid-template-columns: repeat(auto-fill, minmax(333px, 1fr));
  }
  @include media-XS {
    grid-template-columns: repeat(1, minmax(300px, 1fr));
  }
}
