@import '../../../styles/_media.scss';

.codeTitle {
  display: flex;
  align-items: center;
  border: 1px solid var(--border-color-strong);
  border-bottom: none;
  border-top-left-radius: var(--code-block-border-radius);
  border-top-right-radius: var(--code-block-border-radius);
  padding: .7rem 1rem;
  background-color: var(--card-background-color);

  .titleText {
    font-size: .8rem;
    margin-bottom: 0;
  }
}

.icon {
  margin-right: 12px;
}
