@import "../../styles/_media.scss";

.scrollButton {
  position: fixed;
  bottom: 145px;
  right: 56px;

  width: 50px;
  height: 50px;

  border-radius: 50%;
  border: 1px solid var(--font-color);
  background-color: var(--card-background-color-opacity);

  @include media-S {
    width: 47px;
    height: 47px;
    bottom: 130px;
    right: 10px;
  }
}
.arrowIcon {
  position: absolute;
  left: 50%;
  top: 48%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: auto;
  display: block;
}
