@import "../../styles/_media.scss";

.cursorDot,
.cursorDotOutline {
  z-index: 9999999 !important;
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  opacity: 1;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;

  @include media-S {
    display: none;
  }
}

.cursorDot {
  width: 8px;
  height: 8px;
  background-color: var(--cursor-color);
}

.cursorDotOutline {
  width: 40px;
  height: 40px;
  background-color: rgb(103 103 171 / 40%);
}
