@import "../../styles/_media.scss";

.descriptor {
  padding-top: 150px;
  margin-bottom: 100px;

  @include media-M {
    padding-top: 85px;
    margin-bottom: 70px;
  }
  @include media-S {
    padding-top: 35px;
    margin-bottom: 40px;
  }
}

.contentWrapper {
  max-width: 601px;
  margin-left: auto;
  margin-right: auto;
}

.title {
  position: relative;
  margin: 0;
  margin-bottom: 35px;
  font-size: 48px;
  line-height: 1.4;
  font-weight: 900;

  @include media-S {
    font-size: 40px;
    margin-bottom: 25px;
  }
  @include media-XS {
    font-size: 7.4vw;
    margin-bottom: 20px;
  }
}

.stroke {
  position: relative;
  color: transparent;
  -webkit-text-stroke: 1px var(--font-color);
  letter-spacing: .54em;
  margin-left: .6em;
}

.description {
  font-size: 18px;
  margin-bottom: 4em;

  @include media-S {
    font-size: 15px;
    line-height: 1.5;
  }
  @include media-XS {
    font-size: 14px;
    margin-bottom: 2.5em;
  }
}

body[data-theme="dark"] {
  .stroke {
    -webkit-text-stroke: 1px var(--font-color);
  }
}
.bgBlob {
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 30px;
  max-width: 60%;
  transform: translate(-50%, -50%);

  @include media-S {
    top: 0;
  }
  @include media-XS {
    top: 15px;
    max-width: 150px;
  }
}
.serejaImg {
  z-index: -1;

  position: absolute;
  width: 100%;
  min-width: 30px;
  min-height: 30px;
  max-width: 30vw;
  top: -20vh;
  left: 40%;
  //background-color: var(--accent-color);
  font-size: 15px;
  color: var(--font-color);
  -webkit-text-stroke: initial;
  letter-spacing: normal;
  margin-left: 0.6em;
}

[data-theme="light"] {
  .text {
    mix-blend-mode: luminosity;
  }
  .serejaImg {
    mix-blend-mode: multiply;
  }

}
[data-theme="dark"] {
  .text {
    mix-blend-mode: color-dodge;
  }
  .serejaImg {
    mix-blend-mode: soft-light;
  }

}

