@import "../../styles/_media.scss";

.aboutTextWrapper {
  display: flex;
  align-items: center;
  gap: 2.5em;

  @include media-M {
    padding-top: 30px;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.aboutBlock {
  width: 60%;
  max-width: 680px;

  @include media-M {
    width: 100%;
  }

  .description:last-child {
    margin-bottom: 0;
  }

}
.description {
  margin: 0;
  margin-bottom: 1.5em;
}
.imageWrapper {
  width: 40%;


  @include media-M {
    width: 100%;
  }
}

.avatarImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.advantages {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    max-width: 680px;
  }
}
